@media screen and (max-width: 992px) {
  .h-text .h-h2 {
    font-size: 60px;
  }
  .h-text .h-p {
    font-size: 30px;
  }
}

@media screen and (max-width: 768px) {
  body.open {
    height: 100vh;
    overflow-y: hidden;
  }
  .header {
    position: relative;
    height: auto;
  }
  .header .h-sp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 68px;
    margin: 0 16px;
  }
  .header .h-sp .h-drawer {
    width: 10%;
    z-index: 10;
  }
  .header .h-sp .h-drawer img {
    width: 35px;
    height: auto;
    cursor: pointer;
  }
  .header .h-drawer-close {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 20%;
    height: 100vh;
    z-index: 1001;
    cursor: pointer;
  }
  .header .h-drawer-close img {
    position: absolute;
    top: 3%;
    left: 46%;
    width: 30%;
    height: auto;
  }
  .header .h-nav {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: ease .5s;
    transition: ease .5s;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: rgba(62, 62, 62, 0.5);
    position: relative;
    top: -68px;
    left: 0;
  }
  .header .h-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80%;
    margin-left: auto;
    height: 100vh;
    overflow: hidden;
    background-color: #FFFFFF;
    z-index: 1001;
  }
  .header .h-nav ul a {
    font-size: 18px;
    font-weight: bold;
    color: #3E3E3E;
    margin: 0 0 20px;
  }
  .header .h-nav ul a li {
    margin: 0;
    width: 100%;
    height: 22px;
  }
  .header .h-nav.open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    height: 100vh;
  }
  .header .landing {
    position: absolute;
    top: 0;
    left: 0;
  }
  .header .landing .h-img-item img {
    height: 100vh;
  }
  .header .slick-arrow {
    width: 30px;
    height: 30px;
  }
  .header .slick-arrow::before {
    font-size: 30px;
    color: #3E3E3E;
  }
  .port-padding .port-col {
    margin-bottom: 20px;
  }
  .form-table th,
  .form-table td {
    display: block;
    width: 100%;
  }
  .c-name {
    width: 100%;
  }
  .c-se {
    width: 40%;
  }
  .c-address {
    width: 100%;
  }
  .c-detail {
    width: 100%;
    height: 10em !important;
  }
  .p-p, .s-p {
    font-size: 50px;
  }
  .p-ul {
    font-size: 15px;
  }
}

@media screen and (max-width: 560px) {
  .h-text .h-h2 {
    font-size: 40px;
  }
  .h-text .h-p {
    font-size: 20px;
  }
  .p-p, .s-p {
    font-size: 40px;
  }
  .p-text {
    margin-right: auto;
  }
  .p-ul {
    font-size: 13px;
  }
  .port-h4 {
    top: 20%;
  }
}
/*# sourceMappingURL=responsive.css.map */